  body {
    background-color: rgb(229, 204, 255);
    font-family: Sriracha, cursive;
    font-size: larger;
    margin: 10px 25px 10px 25px;
    padding: 10px 10px 10px 10px;
  }
  
  form {
    text-align: center;
    line-height: 30px;
    height: 80%;
    overflow: auto;
  }
  
  form hr {
    width: 15%;
  }
  
  #initials {
    color: black;
    font-size: 50px;
  }

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
    font-family: Lobster, cursive;
    color: #9952a4;
  }

  h3, h4 {
    font-family: Lobster, cursive;
    color: #9952a4;
  }

  nav {
    background-color: #9952a4;
    padding: 10px;
    text-align: right;
  }

  .item {
    padding: 8px;
  }

  #burger {
    max-height: 50%;
  }
  
  #overlay {
    width: 80%;
    margin: 3% auto;
    height: 95vh;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
  }
  
  #logo {
    height: 100px;
    display: block;
    margin: auto;
  }
  
  .toppings label, .cheesy label, .bun-type label, .sauce-selection label, .protein label, .patties label {
    margin-right: 15px;
  }

  .socialLinks {
    text-align: left;
  }

  #music {
    text-align: center;
  }

  input[type=submit] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }